<a href="https://colab.research.google.com/github/emilymulligan/Atividade-Estruturas-de-dados---Semana-04/blob/main/C%C3%B3pia_de_Atividade_Estruturas_de_dados_Semana_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Growdev](https://www.growdev.com.br/assets/images/logo_growdev.png)

![Formação Engenharia de Dados](https://d335luupugsy2.cloudfront.net/cms/files/524558/1707226566/$occu5m8t1op)

Este material tem como objetivo incentivar a prática dos conteúdos estudados até o momento, e a pesquisa. Tenha em consideração que o exercício foi pensado para incentivar a prática dos conteúdos estudados até então, porém aprender a pesquisar faz parte do processo de aprendizagem.

Fique tranquilo, faça os exercícios com calma, e boa prática!

#Orientações:

 - Faça uma copia deste arquivo
 - Após concluir os exercicios, suba seu exercicio para o GitHub e compartilhe o link no **google** Classroom

#Exercícios

#Listas

Para esse exercicio você tera alguns desafios, separei eles em partes, vamos lá?

1 - Crie uma lista com 100 números inteiros.
- Pode ser uma sequência, ou caso queira se desafiar faça de números aleatorios.
- Os dados não devem ser inseridos manualmente, utilize de um laço de repetição para adicionar os elementos a Lista.

In [ ]:
lista = []

for i in range(1, 101):
  lista.append(i)

print(lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

2 - Calcule e exiba a soma de todos os números da lista.

In [ ]:
print(sum(lista))

5050

3 - Exiba o maior e o menor número da lista.

In [ ]:
print(max(lista))
print(min(lista))

100
1

4 - Pesquise se o número 77 esta presente na lista e exiba:
- Quantas vezes esse número aparece na lista
- Se aparece em qual ou quais posições(Indice).

In [ ]:
lista = []

for i in range(1, 101):
  lista.append(i)

print(lista.count(77))
print(lista.index(77))

1
76

5 - Ordene a lista de forma descendente e exiba.

In [ ]:
lista = []

for i in range(1, 101):
  lista.append(i)

lista.sort(reverse = True)

print(lista)

[100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## Tuplas:

Crie uma tupla com os dias da semana e peça para o usuário digitar um número de 1 a 7. Exiba o dia correspondente.

In [ ]:
dias_semanas = ('Segunda-Feira', 'Terça-Feira' , 'Quarta-Feira' , 'Quinta-Feira' , 'Sexta-Feira' , 'Sábado' , 'Domingo')

dia = int(input('Digite um número de 1 a 7, para escolher um dia da semana:'))
print(dias_semanas[dia - 1])

Digite um número de 1 a 7, para escolher um dia da semana:1
Segunda-Feira

Crie duas tuplas com números inteiros e crie uma terceira tupla com a concatenação das duas.

In [ ]:
tupla1 = (1, 2, 3, 4, 5)

tupla2 =(6, 7, 8, 9, 10)

tupla3 = tupla1 + tupla2

print(tupla3)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

 Crie uma tupla com alguns elementos e remova um elemento específico.

In [ ]:
tupla = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

lista=list(tupla)

lista.remove(5)

tupla = tuple(lista)

print(tupla)

(0, 1, 2, 3, 4, 6, 7, 8, 9, 10)

#Sets

Crie dois sets com cores diferentes e exiba na tela a união dos dois sets.

In [ ]:
cores1 = {'azul', 'amerelo', 'vermelho' }
cores2 = {'laraja', 'verde', 'roxo'}

cores = print(cores1.union(cores2))

{'verde', 'amerelo', 'laraja', 'azul', 'roxo', 'vermelho'}

Crie uma lista com alguns números repetidos. Converta essa lista em um set para remover as duplicatas e exiba o resultado.

In [ ]:
lista = [1, 2, 2, 3, 4, 4, 5, 6, 7, 8, 9, 10]

print(set(lista))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

#Dicionários:

 Crie um dicionário com os nomes de algumas frutas e suas respectivas cores. Exiba na tela somente as frutas que são vermelhas.

In [ ]:
frutas = {}
frutas = {'maçã' : 'vermelho', 'banana' : 'amarelo' , 'pera' : 'verde' , 'morango' : 'vermelho'}

for key, value in frutas.items():
  if value == 'vermelho':
    print(key)

maçã
morango

Crie um dicionário com o nome e a idade de três pessoas. Busque por  um nome e exiba a idade correspondente.

In [ ]:
pessoas = {'Julia' : 20,
            'Carol'  : 25 ,
            'João'  : 32
           }

nomes = input('Digite um nome:')

if nomes in pessoas:
  print('A idade de' , nomes , 'é', pessoas[nomes] )
else:
  print('Nome não encontrado.')

Digite um nome:Julia
A idade de Julia é 20

Crie um dicionário com os nomes e idades de algumas pessoas. Peça para o usuário digitar um nome e sua nova idade, e atualize o dicionário com essa informação.

In [ ]:
nomes = {'Julia' : 20,
            'Carol'  : 25 ,
            'João'  : 32
           }
nome = input('Digite seu nome:')
idade = int(input('Digite sua idade:'))

nomes[nome]= idade

print(nomes)

Digite seu nome:Julia
Digite sua idade:21
{'Julia': 21, 'Carol': 25, 'João': 32}

Desafio Dicionários:

Busque o código desenvolvido para o exercicio abaixo e altere o algoritmo para:

 - Salvar o resultado da eleição em um dícionário.


Exemplo de saida do dicionario: {"Candidato 1": 2, "Candidato 2": 2, "Voto Nulo": 0, "Voto Branco": 1}


Este exercicio foi realizado na lista da semana passada, exercicio de número 4:


"Em uma eleição presidencial existem dois candidatos. Os votos são informados através de códigos. Os dados utilizados para a contagem dos votos obedecem à seguinte codificação:

1,2 = voto para os respectivos candidatos

3 = voto nulo

4 = voto em branco;

Elabore um programa que leia o código de votação de 5 eleitores. Calcule e escreva: total de votos para cada candidato total de votos nulos total de votos em branco"

In [ ]:
resultado_eleicao = {
    "Candidato 1": 0,
    "Candidato 2": 0,
    "Voto Nulo": 0,
    "Voto Branco": 0
}

for i in range(5):
    voto = int(input('Digite 1 para votar no Candidato 1, 2 para votar no Candidato 2, 3 para voto nulo, 4 para voto em branco: '))

    if voto == 1:
        resultado_eleicao["Candidato 1"] += 1
    elif voto == 2:
        resultado_eleicao["Candidato 2"] += 1
    elif voto == 3:
        resultado_eleicao["Voto Nulo"] += 1
    elif voto == 4:
        resultado_eleicao["Voto Branco"] += 1

print("Resultado da eleição:", resultado_eleicao)

Digite 1 para votar no Candidato 1, 2 para votar no Candidato 2, 3 para voto nulo, 4 para voto em branco: 1
Digite 1 para votar no Candidato 1, 2 para votar no Candidato 2, 3 para voto nulo, 4 para voto em branco: 2
Digite 1 para votar no Candidato 1, 2 para votar no Candidato 2, 3 para voto nulo, 4 para voto em branco: 3
Digite 1 para votar no Candidato 1, 2 para votar no Candidato 2, 3 para voto nulo, 4 para voto em branco: 4
Digite 1 para votar no Candidato 1, 2 para votar no Candidato 2, 3 para voto nulo, 4 para voto em branco: 1
Resultado da eleição: {'Candidato 1': 2, 'Candidato 2': 1, 'Voto Nulo': 1, 'Voto Branco': 1}

#Listas por Compreensão:

Crie uma lista com os números Impares de 1 a 20 utilizando listas por compreensão.

In [ ]:

lista = [i for i in range(1, 21) if i % 2 != 0]

print(lista)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

Crie uma lista com as letras da frase "Sou estudante de dados", utilizando listas por compreensão.

In [ ]:

frase = 'Sou estudante de dados'

lista = [i for i in frase]

print(lista)

['S', 'o', 'u', ' ', 'e', 's', 't', 'u', 'd', 'a', 'n', 't', 'e', ' ', 'd', 'e', ' ', 'd', 'a', 'd', 'o', 's']